<%- include("partials/header") %>

    <form action = "/contact/submit" method = "post">
        <div class = "main_content contact_page">
            <input type = "text" placeholder = "Name" class = "name_container contact_page" required>
            <input type = "text" placeholder = "E-mail" class = "email_container contact_page" required>
            <textarea type = "text" placeholder = "Additional comment" class = "comment_container contact_page"></textarea>
            <input type = "submit" value = "Submit" class = "submit_button contact_page">
        </div>
    </form>

<%- include("partials/footer") %>