<%- include("partials/header") %>

    <div class = "main_content home_page">
        <div class = "img_container home_page">
            <img alt = "selfie" src = "images/pingwin.jpg" widht = "300" height = "300" class = "selfie home_page">
        </div>
        <div class = "title home_page">Lorem ipsum</div>
        <div class = "about home_page">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque saepe nulla omnis, perferendis assumenda nemo, eius vel commodi ab corporis fugiat culpa ullam iure quo eligendi? Libero, numquam ab?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque saepe nulla omnis, perferendis assumenda nemo, eius vel commodi ab corporis fugiat culpa ullam iure quo eligendi? Libero, numquam ab?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque saepe nulla omnis, perferendis assumenda nemo, eius vel commodi ab corporis fugiat culpa ullam iure quo eligendi? Libero, numquam ab?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque saepe nulla omnis, perferendis assumenda nemo, eius vel commodi ab corporis fugiat culpa ullam iure quo eligendi? Libero, numquam ab?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, hic porro consequatur magnam saepe eaque eligendi assumenda eius architecto numquam maiores deserunt vero voluptatem pariatur rem placeat vel? Quo, eius.
        </div>
    </div>

<%- include("partials/footer") %>