.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2.5rem;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    overflow-x: hidden;
    height: 70px;
}

.title.header{
    font-family: "Frank Ruhl Libre", serif;
    display: block;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    font-size: 2.5rem;
    width: max-content;
    text-align: left;
}

.nav_controls{
    text-align: center;
    display: flex;
    width: 300px;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
}

.pb{
    position: absolute;
    top: -62.5px;
    left: 1.2rem;
}

.nav_tile{
    font-family: "Frank Ruhl Libre", serif;
    font-size: 1.5rem;
}

.nav_tile:hover{
    color: rgb(155, 155, 155);
}

.wraped_nav_controls{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4.7rem;
    right: 0px;
    padding: 0 2.5rem;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    width: 100%;
}

@media(width <= 800px){
    html{
        font-size: 14px;
    }

    .nav_controls{
        justify-content: end;
        height: 1rem;
    }

    .nav_tile{
        cursor: pointer;
        font-size: 4rem;
        height: 2rem;
        line-height: 33%;
        font-weight: 400;
        font-size: 4rem;
    }

    .nav_tile.header{
        font-size: 1.5rem;
        line-height: 100%;
        text-align: right;
    }
}